.experience-container {
  color: #f1f1f1;
  font-family: "Arial", sans-serif;
  width: 90%;
  margin: 0 auto;
  align-items: center;
  justify-self: center;
}

.section-title {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 50px;
  color: #00d4ff;
  text-shadow: 2px 1px 1px #00d4ff;
  opacity: 0;
  transform: translateY(50px);
  animation: fadeInUp 0.8s forwards;
}

.experience-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 20px;
  margin: 0 auto;
}

.experience-card {
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  padding: 30px;
  transition: transform 0.5s, box-shadow 0.5s;
  box-shadow: 0 8px 30px rgba(0, 212, 255, 0.2);
  opacity: 0;
  transform: translateY(50px);
  animation: fadeInUp 0.8s forwards;
}

.experience-card:hover {
  transform: translateY(-10px) scale(1.03);
  box-shadow: 0 -10px 80px rgba(0, 212, 255, 0.5);
}

.experience-card h3 {
  margin-bottom: 10px;
}

.section-title:nth-child(1) {
  animation-delay: 0.2s;
}

.experience-card:nth-child(2) {
  animation-delay: 0.4s;
}

.experience-card:nth-child(3) {
  animation-delay: 0.6s;
}

.experience-card:nth-child(4) {
  animation-delay: 0.8s;
}

.experience-img {
  width: 400px;
  height: 200px;
  border: 1px solid #00d4ff;
  border-radius: 12px;
}

.duration {
  font-weight: bold;
  color: oklab(80.427% -0.11258 -0.09296);
  margin: 15px 0;
}

.description {
  line-height: 1.6;
  font-size: 0.95rem;
  padding-left: 20px;
  color: #dcdcdc;
  text-align: justify;
}

.description li {
  margin-bottom: 20px;
}

@media (max-width: 900px) {
  .experience-card {
    padding: 20px;
  }

  .experience-img {
    width: 100%;
    height: auto;
    margin-top: 20px;
  }

  .experience-card > div {
    flex-wrap: wrap;
  }
}

@media (max-width: 600px) {
  .section-title {
    margin-top: 90%;
    font-size: 2rem;
  }

  .experience-grid {
    grid-template-columns: 1fr;
    gap: 15px;
  }

  .experience-card {
    padding: 18px;
    border-radius: 15px;
  }

  .experience-card > div {
    flex-direction: column;
    gap: 20px !important;
  }

  .experience-img {
    width: 100%;
    height: auto;
    margin: 0 auto;
  }

  .description {
    padding-left: 10px;
    font-size: 0.9rem;
  }
}

@media (max-width: 400px) {
  .experience-container{
    margin-top: 130%;
  }
  .section-title {
    margin-top: 90%;
    font-size: 1.7rem;
  }

  .experience-card {
    padding: 12px;
  }
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
