.experience-container {
  color: #f1f1f1;
  font-family: "Arial", sans-serif;
  width: 90%;
  align-items: center;
  justify-self: center;
}

.section-title {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 50px;
  color: #00d4ff;
  text-shadow: 2px 1px 1px #00d4ff;
}

.experience-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 20px;
  max-width: 1600px;
  margin: 0 auto;
}

.experience-card {
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  padding: 30px;
  transition: transform 0.5s, box-shadow 0.5s;
  box-shadow: 0 8px 30px rgba(0, 212, 255, 0.2);
}

.experience-card h3{
    margin-bottom: 10px;
}

.experience-card:hover {
  transform: translateY(-10px) scale(1.03);
  box-shadow: 0 -10px 80px rgba(0, 212, 255, 0.5);
}

.experience-img {
  width: 300px;
  height: 200px;
  border: 2px solid;
  margin-left: 120px;
}

.duration {
  font-weight: bold;
  color: #00d4ff;
  margin: 15px;
}

.description {
  line-height: 1.6;
  font-size: 0.95rem;
  padding-left: 20px;
  color: #dcdcdc;
}

.description li {
  margin-bottom: 10px;
}

.experience-card {
  opacity: 0;
  transform: translateY(50px);
  animation: fadeInUp 0.8s forwards;
}
.section-title{
  opacity: 0;
  transform: translateY(50px);
  animation: fadeInUp 0.8s forwards;
}

.section-title:nth-child(1) { animation-delay: 0.2s; }
.experience-card:nth-child(2) { animation-delay: 0.4s; }
.experience-card:nth-child(3) { animation-delay: 0.6s; }
.experience-card:nth-child(4) { animation-delay: 0.8s; }

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


