

footer {
  width: 90%;
  margin: 20px auto 0 auto;
  box-sizing: border-box;
  border-top: 1px solid white;
  padding: 12px 0;
}
.footer-parent{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.footer-parent p {
  color: lightgrey;
  margin: 0;
  text-align: center;
}

@media (max-width: 768px) {
  .footer-parent {
    padding: 12px;
    flex-direction: column;
    top: 135%;
  }

  .footer-parent p {
    font-size: 13px;
  }
}



@media (max-width: 480px) {
  .footer-parent {
    padding: 10px;
  }

  .footer-parent p {
    font-size: 12px;
    padding: 0 10px;
  }
}