.skills-page {
  display: flex;
  flex-direction: column;
}

.skills-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.skills-title {
  color: white;
  margin: 20px;
  font-family: system-ui, sans-serif;
}

.typewriter {
  color: white;
  margin: 20px;
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid lightpink;
  width: 0;
  animation: typing 8s linear forwards, blink 0.8s step-end infinite;
}

@keyframes typing {
  from { width: 0; }
  to { width: 109ch; }
}

@keyframes blink {
  50% { border-color: transparent; }
}

.skill-scroll-wrapper {
  width: 100%;
  overflow: hidden;
  margin: 40px 0;
}

.skill-list {
  display: flex;
  gap: 60px;
  animation: scroll-left 20s linear infinite;
  width: fit-content;
}

.skill-item img{
  width: 120px;
  height: 120px;
  object-fit: contain;
  transition: transform 0.3s ease;
}
.skill-item svg {
  width: 104px;
  height: 104px;
  object-fit: contain;
  transition: transform 0.3s ease;
}

.skill-item img:hover,
.skill-item svg:hover {
  transform: scale(1.05);
}

.react-logo {
  animation: spin 20s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes scroll-left {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}
